<div class="container">
    <div class="row justify-content-sm-center">
        <div class="col-12 col-sm-6">
            <h1>Dashboard de usuarios</h1>
        </div>
    </div>
    <button class="btn btn-link" (click)="ShowUsers()">ver usuarios</button>





    <table class="table" id="tabla-usuarios" *ngIf="res">
        <tr>
            <th>
                Nombre Completo
            </th>
            <th>
                Correo Electronico
            </th>
            <th>
                Contraseña
            </th>
            <th id="ver">

            </th>
            <th id="eliminar">

            </th>
        </tr>
        <tr *ngFor="let item of res">
            <td>
                {{item.nombre_completo}}
            </td>
            <td>
                {{item.email}}
            </td>
            <td>
                {{item.password}}
            </td>
            <td>
                <button class="btn btn-link" (click)="ShowSingleUser(item.id)">ver</button>
            </td>
            <td>
                <button class="btn btn-link" (click)="DeleteUser(item.id)">eliminar</button>
            </td>
        </tr>
    </table>
    <div class="row justify-content-sm-center my-3" *ngIf="singleUser">
        <div class="col-12 col-sm-6">
            <h4>Datos Usuario</h4>
            <form name="update-user" [formGroup]="updateForm">
                <div class="form-group m-3">

                    id: {{singleUser.id}} <br>
                    nombre: <input type="text" class="form-control" formControlName="name"
                        [ngClass]="{ 'is-invalid': updateSubmit && updateForm.controls['name'].errors }"
                        [(ngModel)]="singleUser.nombre_completo"> <br>
                    email: <input type="text" class="form-control" formControlName="email"
                        [ngClass]="{ 'is-invalid': updateSubmit && updateForm.controls['email'].errors }"
                        [(ngModel)]="singleUser.email"><br> contraseña: <input type="text" class="form-control"
                        formControlName="password"
                        [ngClass]="{ 'is-invalid': updateSubmit && updateForm.controls['password'].errors }"
                        [(ngModel)]="singleUser.password"> <br>
                </div>
            </form>
            <button class="btn btn-link"
                (click)="UpdateUser(this.singleUser.id, this.singleUser.nombre_completo, this.singleUser.email, this.singleUser.password)">modificar</button>
        </div>
    </div>
    <div class="row justify-content-sm-center my-3">
        <div class="col-12 col-sm-6">
            <form name="create-user" [formGroup]="createForm">


                <h4>creación de usuario</h4>
                Nombre<input type="text" class="form-control" formControlName="name"
                    [ngClass]="{ 'is-invalid': createSubmit && createForm.controls['name'].errors }"><br>
                Correo<input type="text" class="form-control" formControlName="email"
                    [ngClass]="{ 'is-invalid': createSubmit && createForm.controls['email'].errors }"><br>
                Contraseña<input type="text" class="form-control" formControlName="password"
                    [ngClass]="{ 'is-invalid': createSubmit && createForm.controls['password'].errors }"><br>
                <button
                    (click)="InsertUser(createForm.controls['name'].value, createForm.controls['email'].value, createForm.controls['password'].value)">Agregar
                    usuario</button>
            </form>
        </div>
    </div>
</div>